<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - GIS Experiment</title>
    <script src="site.js"></script>
    <script src="https://maps.googleapis.com/maps/api/js"></script>

    <style>
        #googlemap {
            height: 100%;
            width: 100%;
            position: absolute;
            top: 0;
            left: 0;
            z-index: 0; /* Set z-index to 0 as it will be on a layer below the contact form */
        }

        #search {
            position: relative;
            display: inline-block;
            float: left;
            top: 0px;
            margin: 10px auto 0;
            padding: 10px;
            background: #333333;
            height: auto;
            opacity: .80;
            z-index: 1; /* The z-index should be higher than Google Maps */
        }
    </style>
</head>
<body>
    <div class="container" overflow="hidden">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>


    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=">
        </script>
    </environment>
    <script src="~/js/site.js" asp-append-version="true"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
