@{
    ViewData["Title"] = "Home Page";
}
<div id="search">
    <input type="text" class="textinput" id="textinput" name="q" value="Search" /><button onclick="updateMap()">Find and submit</button>
</div>
<div id="googlemap"></div>

<script>
       
</script>





