@page
@model IndexModel
@{
    ViewData["Title"] = "Official Site";
}

@section Services
    {
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Services</h2>
                <p class="lead">
                    Our services. Our services. Our services. Our services. Our services. Our services. Our services. Our services.
                    Our services. Our services. Our services. Our services. Our services. Our services. Our services. Our services.
                    Our services. Our services. Our services. Our services. Our services. Our services. Our services. Our services.
                    Our services. Our services. Our services. Our services. Our services. Our services. Our services. Our services.
                    Our services. Our services. Our services. Our services. Our services. Our services. Our services. Our services.
                    Our services. Our services. Our services. Our services. Our services. Our services. Our services. Our services.
                    Our services. Our services. Our services. Our services. Our services. Our services. Our services. Our services.
                    Our services. Our services. Our services. Our services. Our services. Our services. Our services. Our services.
                    Our services. Our services. Our services. Our services. Our services. Our services. Our services. Our services.
                    Our services. Our services. Our services. Our services. Our services. Our services. Our services. Our services.
                </p>
                
            </div>
        </div>
    </div>
}

@section Support
    {
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Support</h2>
                <p class="lead">
                    Our support. Our support. Our support. Our support. Our support. Our support. Our support. Our support.
                    Our support. Our support. Our support. Our support. Our support. Our support. Our support. Our support.
                    Our support. Our support. Our support. Our support. Our support. Our support. Our support. Our support.
                    Our support. Our support. Our support. Our support. Our support. Our support. Our support. Our support.
                    Our support. Our support. Our support. Our support. Our support. Our support. Our support. Our support.
                    Our support. Our support. Our support. Our support. Our support. Our support. Our support. Our support.
                    Our support. Our support. Our support. Our support. Our support. Our support. Our support. Our support.
                    Our support. Our support. Our support. Our support. Our support. Our support. Our support. Our support.
                    Our support. Our support. Our support. Our support. Our support. Our support. Our support. Our support.
                    Our support. Our support. Our support. Our support. Our support. Our support. Our support. Our support.
                </p>
            </div>
        </div>
    </div>
}

@section Careers
    {
    <div class="container">
        <div class="row">
            <div class="col-lg-8 mx-auto">
                <h2>Careers</h2>
                <p class="lead">
                    Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers.
                    Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers.
                    Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers.
                    Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers.
                    Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers.
                    Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers.
                    Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers.
                    Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers.
                    Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers.
                    Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers. Our careers.
                </p>
            </div>
        </div>
        <div ><p class="back-to-top"><a href="#page-top">Back to top</a></p></div>
    </div>
}
